body {
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4{
	color: white;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

p{
	font-size: 16px;
}

a{
	text-decoration: none;
	outline: 0;
}

.type-sm--fluid{
	@media (max-width: @screen-sm-max) {
		width: 100%;
		padding:0;
	}
}

.fanxybox-image{
	max-width: 100% !Important;
	height: auto;
	outline: 0 !Important;
}


/************************

		HEADER

************************/


header{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 100px;
	background-color: @primary-color;
}

.logo{
	background: url(../img/logo.png) no-repeat; 
	width: 180px;
    height: 60px;
    background-size: 140px 80px;
    display: block;
    float: left;
	margin-top: 10px;
	@media (min-width: @screen-sm-min){
	}
	a{
		color: transparent;
		display: block;
		overflow: hidden;
		@media (min-width: @screen-sm-min){
		}
	}
}

.log{
	display: none;
	@media (min-width: @screen-sm-min){
		display: inline-block;
	}
	float: right;
	.dropdown{
		display: table;
		height: 100px;
	}
	.dropdown-menu{
		background-size: cover;
		background-repeat: no-repeat;
		min-width: 250px; 
		min-height: 250px;
		text-align: center;
		padding: 50px 0;
		right: 0;
		left: initial;
		h3{
			color: white;
			margin: 0;
		}
		span{
			color: white;
			margin-bottom: 20px;
			display: block;
		}
		.form-control{
			margin: 5px 0;
			padding: 5px;
    		width: 80%;
		}
		label{
			color: white;
		}
		.checkbox{
			margin: 5px 0 10px 0;
			display: block;
		}
		button{
			border: 2px solid white;
		    background: transparent;
		    color: white;
		    font-size: 16px;
		    padding: 5px;
		    font-weight: bold;
		    text-transform: uppercase;
		    width: 80%;
		    margin-top: 20px;
		}
	}
	ul{
		padding: 0;
		list-style-type: none;
	}
	a{
		color: white;
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
		margin-top: 30px;
		padding: 10px 15px;
		padding-left: 30px;
		background: @primary-color;
		color: white;
		text-transform: uppercase;
		background-repeat: no-repeat;
		background-position: left;
		background-size: 25px 25px;
	}
}

.menu{
	display: inline-block;
	list-style-type: none;
	height: 100px;
	margin: 0;
	padding: 0;
	@media (min-width: @screen-sm-min){
	}
	.nav{
		display: none;
		@media (min-width: @screen-sm-min){
			display: table;
			height: 100px;
			padding: 0;
		}
	}
	li{
		display: table-cell;
		vertical-align: middle;
	}
	.active{
		border-bottom: 2px solid white;
	}
	a{
		padding: 0px 15px;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.5px;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0 !Important;
		&:focus{
			color: white;
		}
	}
}

.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .2s; 
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.page-wrap{
  padding: 50px 60px;
  overflow: hidden;
  .transition;
}


.nav--mobile{
	padding: 0;
	margin: 0;
	margin-top: 80px;
	list-style-type: none;
	li{
		display: block;
		a{
			margin: 5px 15px;
			padding: 10px;
			color: white;
			text-decoration: none;
			font-weight: 700;
			display: block;
    		text-align: center;
    		font-size: 25px;
    		&:hover{
    			border-radius: 20px;
    			color: white;
    		}
		}
	}
}


.offcanvas-expanded{
  .page-wrap{
    /* This is !important to include */
    -webkit-transform: translateX(320px); 
    -ms-transform: translateX(320px); 
    transform: translateX(320px);
  }
}

.offcanvas{
  /* This is !important to include */
  width: 320px; 
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: @primary-color;
  z-index: 99;
  -webkit-transform: translateX(-320px); 
  -ms-transform: translateX(-320px); 
  transform: translateX(-320px);
  .transition;

  .logo{
		float: none;
		width: 133px;
		margin: auto;
		margin-top: 30px;
	}
  .log{
  	display: block;
  	float: none;
  	width: 100%;
		.log--mobile{
			background-size: cover;
			background-repeat: no-repeat;
			min-width: 250px; 
			min-height: 250px;
			text-align: center;
			padding: 50px 0;
			right: 0;
			left: initial;
			h3{
				color: white;
				margin: 0;
			}
			span{
				color: white;
				margin-bottom: 20px;
				display: block;
			}
			.form-control{
				margin: 5px 0;
				padding: 5px;
	    		width: 80%;
			}
			label{
				color: white;
			}
			.checkbox{
				margin: 5px 0 10px 0;
				display: block;
			}
			button{
				border: 2px solid white;
			    background: transparent;
			    color: white;
			    font-size: 16px;
			    padding: 5px;
			    font-weight: bold;
			    text-transform: uppercase;
			    width: 80%;
			    margin-top: 20px;
			}
		}
	}
}

.offcanvas-expanded{
  .offcanvas{
    /* This is !important to include */
    -webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
    transform: translateX(0);
  }
}

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	position: absolute;
	top: 40px;
	right: 20px;
	display: block;
	@media (min-width: @screen-sm-min){
		display: none;
	}

}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px; 
}
#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/************************

		HERO

************************/
 
 .hero{
 	background-repeat: no-repeat;
 	height: 600px;
 	background-size: cover;
 	margin-top: -5px;
 	@media (min-width: @screen-sm-min){
		min-height: calc(~"100vh - 100px");
	}

 	h2{
 		color: white;
 		font-size: 60px;
 		padding-top: 10%;
 		text-align: left;
 		display: inline-block;
 		@media (min-width: @screen-sm-min){
			font-size: 110px;
			padding-top: 5%;
			font-size: 80px;
		}
		@media (min-width: @screen-md-min){
			font-size: 110px;
			
		}
 	}
 	span{
 		color: #2ecc71;
 	}
 }

 .arrow{
 	display: block;
 	bottom: 20px;
 	width: 70px;
 	height: 50px;
 	background-repeat: no-repeat;
 	margin: auto;
 	background-size: 70px;
 	margin-top: 180px;
 	color: transparent !Important;
 	@media (min-width: @screen-sm-min){
		margin-top: 220px;	
	}

 }

 /************************

		   POST

************************/
.post{
	color: #333;
	text-decoration: none !Important;
	outline: 0;
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
	background: rgba(51, 51, 51, 0.13);
	transition: background-color 0.2s ease-in-out;
	@media (min-width: @screen-sm-min){
		background-color: transparent;
	}
	&:hover{
		background: rgba(51, 51, 51, 0.3);
	}
	@media (min-width: @screen-sm-min){
		&:hover{
			background: transparent;
		}
	}
	
}

.post-wrap{
	.post-head{
		margin-bottom: 80px;
		margin-top: -20px;
		@media (min-width: @screen-sm-min){
			margin: 50px 0;
		}
		@media (min-width: @screen-lg-min){
			margin: 80px 0;
		}
	}
}

.post-head{
	text-align: center;
	margin: 30px 0 60px 0;
	@media (min-width: @screen-lg-min){
		margin: 80px 0;
	}
	h3{
		color: @primary-color;
		font-size: 50px;
	}
	span{
		display: block;

		&:after{
			display: block;
			content: "";
			background: @primary-color;
			height: 3px;
			width: 50px;
			margin: 20px auto 0px auto;
		}
	}

}

.post-top{
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
}

.post-bottom{
	color: #222;
	padding: 20px;
	@media (min-width: @screen-md-min){
		padding: 0;
	}
	h4{
		margin-top: 20px;
		text-transform: uppercase;
		color: #222;
		margin-bottom: 5px;
	}
	span{
		font-size: 14px;
		display: block;
		color: @primary-color;
	}
	p{
		color: #222;
		margin: 30px 0;
	}

	.go-post{
		color: #222;
		text-decoration: none;
		text-transform: uppercase;
		img{
			width: 15px;
			margin-left: 10px;
		}
	}
}

 /************************

		   ABOUT

************************/

.about-us{


}

.about-us_content{
	background-repeat: no-repeat;
	background-position: center ;
	background-size: cover;
	height: auto;
	width: 100%;
	display: table;
	@media (min-width: @screen-sm-min){
		height: 100vh;
	}
	.darkness{
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		background-color: rgba(0, 0, 0, 0.56);
		padding: 50px 0;
		@media (min-width: @screen-sm-min){
			padding: 0;
		}
	}

	p{
		letter-spacing: 0.2px;
		line-height: 28px;
		font-size: 16px;
		padding-top: 30px;
		width: 95%;
		margin: auto;
		color: white;
		@media (min-width: @screen-sm-min){
			width: 70%;
			
			padding-top: 0;
		}
		@media (min-width: @screen-lg-min){
			letter-spacing: 1px;
			text-align: justify;
		}
	}
	ul{
		padding: 0;
		margin: 0;
		margin-top: 20px;
		padding-left: 50px;
		li{
			color: white;
			line-height: 28px;
			letter-spacing: 0.2px;
			font-size: 16px;
		}
	}
	em{
		font-size: 50px;
		font-weight: bold;
		margin-right: 5px;
	}
	.about-inside{
		width: 100%;
	}
}


 /************************

	LOCATION AND INFORMATION

************************/

.map-frame{
	pointer-events: none;
}



.heading-main{
	margin-top                 : 80px;
	color                      : white;
	text-align: center;
	@media (min-width          : @screen-sm-min){
		color                  : @primary-color;
	}
}

.contact iframe{
	height: 400px;
	@media (min-width: @screen-sm-min){
		height: 600px;
	}
}

.contact-content{
	width: 80%;
	color: #989898;
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 80px;
	@media (min-width: @screen-sm-min){
		text-align: initial;
		margin-bottom: 0;
	}

	h3{
		font-size: 50px;
		margin-bottom: 20px;
	}
	p{
		font-size: 16px;
		line-height: 25px;
		@media (min-width: @screen-sm-min){
			font-size: 18px;
		}
	}
	strong{
	}
	.text{
		margin-top: 20px;
		font-size: 16px;
		margin-top: 30px;
		@media (min-width: @screen-sm-min){
			margin-top: 150px;
		}
	}
	a{	

		border: 1px solid @primary-color;
		padding: 10px 20px;
		text-align: center;
		font-weight: bold;
		color: #4d4d4d;
		text-decoration: none;
		display: inline-block;
		width: 150px;
		margin: auto;
		margin-top: 50px;
		background: @primary-color;
		color: white;
		transition: background-color 0.3s ease-in-out;
		&:hover{
			background-color: white;
			color: @primary-color;
		}
	}
}


 /************************

	LOCATION AND INFORMATION

************************/


.copyright{
	background-color: #252525;
	padding-bottom: 30px;
	p{
		color: #989898;
		padding: 30px 0;
		text-align: center;
		margin: 0;
	}
	hr{
		width: 30%;
		margin: auto;
		border-top: 1px solid #303030;
	}

	a{
		text-align: center;
		width: 100%;
		display: block;
		color: #676767;
		margin-top: 30px;
		text-decoration: none;
	}
}


 /************************

	MODAL

************************/


.contact_form{
	width                          : 80%;
	margin                         : auto;
	margin-top                     : 60px;
	@media (min-width              : @screen-sm-min){
		width                      : 60%;
	}
	input, textarea{
		float                      : left;
		border                     : none;
		border-radius              : 0;
		padding                    : 0;
		outline                    : 0;
		display                    : inline-block;
		font-size                  : 16px;
		background-color           : transparent;
		border-bottom              : 1px solid #959595;
		width                      : 100%;
		margin                     : 0;
		margin-bottom              : 35px;
		color                      : white;
		text-align                 : center;
		@media (min-width          : @screen-sm-min){
			width                  :49%;
			background-color       : white;
			border-bottom          : 1px solid #cccccc;
			color                  : @primary-color;
			text-align             : left;
			margin-bottom          : 30px;
		}
	}


	form{
		display                    : table;
		width                      : 100%;
	}

	.name{
		@media (min-width          : @screen-sm-min){
			margin-right           : 1%;
		}
	}

	.surname{
		@media (min-width          : @screen-sm-min){
			margin-left            : 1%;
		}
	}

	.email{
		display                    : block;
		width                      : 100%;
	}

	.message-wrap{
		font-size                  : 16px;
		color                      : darkgrey;
		text-align                 : center;
		color                      : white;
		display                    : block;
		margin-bottom              : 5px;
		@media (min-width          : @screen-sm-min){
			text-align             : left;
			margin-bottom          : 0px;
		}
	}

	.message{
		width                      : 100%;
		height                     : 100px;
		border                     : 1px solid #959595;
		height                     : 200px;
		margin-bottom              : 20px;
		padding                    : 15px;
		@media (min-width          : @screen-sm-min){
			border                 : 1px solid #cccccc;
		}
	}

	.contact_send{
		background-color           : transparent;
		border                     : 1px solid #cccccc;
		border-radius              : 0px;
		padding                    : 10px;
		outline                    : 0;
		color                      : white;
		font-size                  : 16px;
		letter-spacing             : 1px;
		float                      : left;
		width                      : 100%;
		text-align                 : center;
		text-decoration            : none !important;
		transition: background 0.2s ease-in-out;
		@media (min-width          : @screen-sm-min){
			width                  : 150px;
			color                  : #808080;
		}
		&:hover, &:focus{
			@media (min-width          : @screen-sm-min){
				background-color: @primary-color;
				color: white;
			}
			
		}
	}
}

.alert-success{
	color                          : white;
	width                          : 100%;
	text-align                     : center;
	margin                         : 50px 0;
	display                        : block;
	span{
		color                      : @primary-color;
	}
}

.alert-danger{
	color                          : white;
	width                          : 100%;
	text-align                     : center;
	display                        : block;
	background                     : #e74c3c;
	padding                        : 20px 0;
	h3{
		color                      : white;
	}
	span{
		color                      : white;
	}
}


.detail{
	margin-top                     : 20px;
	position                       : relative;
	display                        : inline-block;
	width                          : 100%;
	@media (min-width              : @screen-sm-min){
		margin-top                 : 100px;
		padding-left               : 30px;
	}

	img{
		display                    : none;
		margin                     : auto;
		@media (min-width          : @screen-sm-min){
			display                : block;
		}
	}
	h3{
		font-size                  : 20px;
		margin-bottom              : 30px;
		color                      : white;
		text-align                 : center;
		@media (min-width          : @screen-sm-min){
			color                  : @primary-color;
			text-align             : initial;
		}
	}
	p{
		font-size                  : 16px;
		color                      : white;
		text-align                 : center;
		@media (min-width          : @screen-sm-min){
			color                  : @primary-color;
			text-align             : initial;
		}
	}
}

.white{
	height                         : 100px;
	border-bottom-right-radius     : 10px;
	border-bottom-left-radius      : 10px;
	background                     : white;
	display                        : none;
	@media (min-width              : @screen-sm-min){
		display                    : block;
	}
}

.modal-dialog{
	width                          : 100%;
	@media (min-width              : @screen-sm-min){
		width                      : 50%;
	}
}

.modal-content{
	background-repeat: no-repeat;
	background-size: cover !Important;
	.alert-danger{
		position                   : absolute;
		bottom                     : -100px;
		left                       : 0;
		background-color           : #e74c3c;
	}
	.alert-success{
		z-index                    : 9;
		background-color           : @primary-color;
		position                   : absolute;
		top                        : 0;
		left                       : 0;
		color                      : white;
		margin-bottom              : 80px;
		h3{
			color                  : white;
		}
		span{
			color                  : white;
		}
	}
	padding-bottom                 : 30px;
	background                     : @primary-color;
	margin-top                     : 13%;
                                   ::-webkit-input-placeholder {
	   text-align                  : center;
	   color                       : white;
	}

                                   :-moz-placeholder { /* Firefox 18- */
	   text-align                  : center;
	   color                       : white;  
	}

                                   ::-moz-placeholder {  /* Firefox 19+ */
	   text-align                  : center;
	   color                       : white;  
	}

                                   :-ms-input-placeholder {  
	   text-align                  : center;
	   color                       : white; 
	}
	@media (min-width              : @screen-sm-min){
		height                     : auto;
                                   ::-webkit-input-placeholder {
		   text-align              : left;
		}

                                   :-moz-placeholder { /* Firefox 18- */
		   text-align              : left;  
		}

                                   ::-moz-placeholder {  /* Firefox 19+ */
		   text-align              : left;  
		}

                                   :-ms-input-placeholder {  
		   text-align              : left; 
		}
	}
	.heading-main{
		color                      : white;
		margin-top                 : 2%;
		@media (min-width          : @screen-sm-min){
			margin-top             : 5%;
		}
	}
	.head-dec{
		color                      : white;
		text-align                 : center;
		display                    : block;
		margin-bottom              : 15px;
	}
	.modal-header{
		border                     : 0;
	}
	.close{
		background                 : transparent;
		border                     : 0;
		box-shadow                 : none;
		outline                    : 0;
		position                   : absolute;
		top                        : 20px;
		right                      : 30px;
		z-index                    : 10;
		span{
			color                  : white;
			font-size              : 50px;
		}
	}
}
.modal-body{
	position                       : initial;
	.contact_form{
		margin-top                 : 0;
		input, textarea{
			background             : transparent !important;
			color                  : white;
			margin-bottom          : 40px;
			@media (min-width      : @screen-sm-min){
				margin-bottom      : 30px;
			}
		}
		.contact_send{
			color                  : white;
		}
	}

}


/************************

		inner

************************/

.inner{
	color: white;
	margin-top: -5px;
	.darkness{
		background: rgba(0,0,0,0.2);
		height: 450px;
		@media (min-width: @screen-sm-min){
			height: 600px;
		}
	}
}
.inner-bg{
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 450px;
	@media (min-width: @screen-sm-min){
		height: 600px;
	}
	.slick-content{
		height: 450px;
		margin-top: 40px;
		display: table;
		@media (min-width: @screen-sm-min){
				height: 600px;
			}
	}
	.slick-cell{
		text-align: left;
		display: table-cell;
		@media (min-width: @screen-sm-min){
			vertical-align: bottom;
			padding-bottom: 60px;
		}
	}
	p{
		margin-top: 0;
		text-decoration: none;
		font-size: 45px;
		line-height: initial;
	}
}

.inner-bg_left{
	display: block;
	text-align: center;
	margin-bottom: 30px;
	@media (min-width: @screen-sm-min){
		width: 10%;
		border-right: 1px solid white;
		float: left;
		margin-bottom: 0;
		padding-right: 20px;
	}
	span{
		font-size: 22px;
	}
	em{
		font-weight: bold;
		display: inline-block;
		text-align: center;
		width: 100%;
	}
}

.inner-bg_right{
	text-align: center;
	@media (min-width: @screen-sm-min){
		float: left;
		width: 90%;
		padding-left: 50px;
		text-align: initial;
	}
	ul{
		list-style-type: none;
		padding: 0;
		display: inline-block;
		margin-top: 30px;
		@media (min-width: @screen-sm-min){
			margin-top: 0;
		}
	}
	li{
		display: block;
		float: left;
		margin: 0px 15px;
		text-transform: uppercase;
		font-size: 12px;
		&:first-child{
			margin-left: 0;
		}
		img{
			width: 18px;
			margin-right: 5px;
		}
		a{
			color: white !important;
		}
	}
}

.inner-content{
	
	margin: auto;
	width: 90%;
	padding: 60px 0;
	@media (min-width: @screen-sm-min){
		width: 70%;
	}
	p{
		margin-top: 30px;
		color: #222;
		line-height: 28px;
		padding: 0 15px;
		@media (min-width: @screen-sm-min){
			padding: 0;
		}
	}
	.lead{
		background-color: #f5f5f5;
		border-left: 1px solid #777777;
		color: #777777;
		padding: 25px;
		font-size: 16px;
		margin-top: 30px;
		p{
			color: #777777;
			margin-top: 0;
		}
	}
	h3,h4{
		color: #222;
		margin-top: 30px;
		padding: 0px 15px;
		@media (min-width: @screen-sm-min){
			padding: 0;
		}
	}
	img{
		width: 90%;
		margin: auto;
		display: block;
		margin-top: 30px;
	}
	em{
		text-align: center;
		color: grey;
		display: block;
		margin-top: 10px;
		font-size: 12px;
	}
}


.comment-reply-title{
	display: block;
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	&:after{
		display: block;
		height: 3px;
		content: "";
		width: 10%;
		background-color: white;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.logged-in-as{
	text-align: center;
}

.comment-form-comment{
	margin-top: 10px;
	label{
		display: none;
	}
	textarea{
		width: 100%;
		margin: 15px 0;
		outline: 0;
	}
}

.comment-form{
	input{
		width: 100%;
		display: block;
	}
	p{
		margin-top: 10px;
	}
	#submit{
		margin-top: 20px;
	}
}

.form-submit{
	input[type=submit]{
		display: block;
	    width: 100%;
	    outline: 0;
	    background: #282828;
	    border: 0;
	    margin: 0;
	    padding: 10px;
	    color: white;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	}
}
.comment-author{

	img{
		@media (min-width: @screen-sm-min){
			width: 50px !important;
			margin: 10px 0 !important;
			display: inline-block !important;
			margin-right: 10px !important;
		}
	}
}

.comment-list{
	li{
		background: #e6e6e6;
    	padding: 20px;
	}
}

time{
	color: #595959;
}


.comments-title{
	margin:30px 0 20px 0;
}























